@import "tailwindcss";

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: rgba(6, 182, 212, 0.3);
}

/* Custom utility for the futuristic grid background */
.bg-grid-pattern {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 4rem 4rem;
}